/* You can add global styles to this file, and also import other style files */
@import '@coreui/coreui/dist/css/coreui.min.css';
.dual {
    background: linear-gradient(to right, var(--fa-primary-color) 50%, var(--fa-secondary-color) 50%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }